{% extends 'base.html' %}
{% block title %}Add Exercise{% endblock %}

{% block content %}
    <h2>Add Exercise</h2>
    
    <form method="post">
        {% csrf_token %}

        <label for="name">Exercise Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="category">Category:</label><br>
        <select id="category" name="category" required>
            <option value="">-- Select Category --</option>
            <option value="WEIGHT">Weight Training</option>
            <option value="CARDIO">Cardio</option>
        </select><br><br>

        <button type="submit" class="btn update">Save Exercise</button>
        <a href="{% url 'exercises' %}" class="btn delete">Cancel</a>
    </form>

{% endblock %}